title = "Homepage"
url = "/"
layout = "default"
is_hidden = 0
==
<div class='container mx-auto bg-red text-white p-10 flex justify-between sm:flex-col flex-row sm:items-center rounded'>
    <h1 class='uppercase text-xl sm:self-start'>Sa emigrez sau nu?</h1>
    <ul class="list-reset flex sm:mt-6">
        <li class="mr-3">
            <a class="inline-block border border-white rounded py-1 px-3 bg-white text-black" href="#">Active Pill</a>
          </li>
          <li class="mr-3">
            <a class="inline-block border border-white rounded hover:text-black hover:border-grey-lighter text-white hover:bg-grey-lighter py-1 px-3" href="#">Pill</a>
          </li>
    </ul>
</div>
