description = "Default layout"
==

==
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% styles %}
    <link rel="stylesheet" href="{{ ['assets/css/app.css']|theme }}">
</head>
<body class='bg-body'>
    {% page %}
</body>
</html>
